html {
  background-color: grey;
  font-family: monspace;
}

#header {
  background-color: grey;
  border-bottom: 2px solid silver;
  height: 30px;
  font-size: 20px;
  font-family: monospace;
}

#header a {
  color: silver;
}

#welcome {
  text-align: center;
  width: 1200px;
  color: grey;
  background-color: black;
}
